In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Bank_Churn.csv")

In [4]:
df.head()

,RowNumber,CustomerId,CreditScore,GeographyID,GenderID,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Bank DOJ
0,1,15634602,619,1,2,42,7,0.00,1,1,1,101348.88,1,23-03-2016
1,2,15647311,608,2,2,41,4,83807.86,1,0,1,112542.58,0,09-10-2018
2,3,15619304,502,1,2,42,4,159660.80,3,1,0,113931.57,1,25-03-2019
3,4,15701354,699,1,2,39,3,0.00,2,0,0,93826.63,0,24-10-2019
4,5,15737888,850,2,2,43,3,125510.82,1,1,1,79084.10,0,22-11-2019

In [8]:
df.dtypes

RowNumber            int64
CustomerId           int64
CreditScore          int64
GeographyID          int64
GenderID             int64
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
Bank DOJ            object
dtype: object

In [10]:
df['Bank DOJ'] = pd.to_datetime(df['Bank DOJ'],format='%d/%m/%Y')

In [11]:
df.dtypes

RowNumber                   int64
CustomerId                  int64
CreditScore                 int64
GeographyID                 int64
GenderID                    int64
Age                         int64
Tenure                      int64
Balance                   float64
NumOfProducts               int64
HasCrCard                   int64
IsActiveMember              int64
EstimatedSalary           float64
Exited                      int64
Bank DOJ           datetime64[ns]
dtype: object

In [12]:
df.to_csv("BANK CHURN.csv")